
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

        
        Verde Oscuro : #014005
        Verde claro : #02730A
        Verde claro-r : #e5f1e8
        Fonfo claro : #cbecd9
        Beige : #BDA773
        café : #6F4929
        café-l : #916131
        Negro : #0D0D0D

*/
:root {
    --bg-color-d: #000000;
    --bg-color-l: #ffffff;
    --bg-color-r: #22bb1f;
    --bg-color-ls: #c8dc9c;
    --color-text: #6F4929;
    /* --color-text-r : #BDA773; */
    --color-text-r : #333232;
    --color-text-rl : #e5f1e8; 
    --fondo-gris :  #0a0a0a  ;
  }  
h1,h2,h3,h4,h5{
    font-family: 'Francois One', sans-serif;
}
p{
    font-family: 'Merriweather', serif;
}
hr{
    color: #007200;
}
.btn-primary {
    background-color: var(--bg-color-r)!important;
}
.header {
    padding-left: 60%;
    height: 2rem;
    /* background-color: var(--bg-color-l); */
    color:var(--color-text-rl);
    /* background: linear-gradient(90deg, rgba(220,220,220,1) 27%, rgba(0,0,0,1) 85%, rgba(0,0,0,1) 100%); */
    background: linear-gradient(90deg, rgba(220,220,220,1) 0%, rgba(0,0,0,1) 69%, rgba(0,0,0,1) 100%);
    /* background-color: #505050; */
    font-size: 90%
}
.header a{
    color: var(--color-text-rl);
}

.footer {
    padding-left: 10%;
    height: 12rem;
    background-color: var(--bg-color-d);
    /* background-color: #007200; */
    /* background: linear-gradient(90deg, rgba(220,220,220,1) 0%, rgba(0,0,0,1) 69%, rgba(0,0,0,1) 100%); */
    color:var(--color-text-rl);
    font-size: 90%
}
.footer a{
    color: var(--color-text-rl);
}
.copyright {
    margin-right: 12%;
}
.navbar {
    height: 7rem;
    padding-left: 10%;
    /* background-color: var(--bg-color-lr) !important; */
    /* background: linear-gradient(90deg, rgba(255,255,255,1) 26%, rgba(2,115,10,1) 88%, rgba(1,64,5,1) 100%) !important; */
    background-color: var(--bg-color-d);

}
.navbar-nav {
    margin-left: 40%;
}
.nav-link{
    color: #ffff;
}
.nav-link:hover{
    color: #49b7be;
}
.logo {
    margin-top: 0rem;
}
#Inicio {
    /* background-color: var(--bg-color-d); */
    /* opacity: 1;*/
    height: 45rem;
    overflow:hidden;
}
 /* #carousel img{
    position: relative;
    object-fit: cover;
    /* width: 100%;
    height: auto; */    
/*} */
#carousel p{
    font-size: larger;
}
#Nosotros {
    background-color: var(--bg-color-d);
    position: relative;
    padding: 15px;
    border-top: 100px solid transparent;
    margin-top: -10px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
#Nosotros .card{
    border-radius: 25px;
}
.card-header-nosotros {
    background-color: var(--bg-color-r);
    color: var(--color-text-rl) !important;
}
#Servicios {
    background-color: var(--bg-color-d);
    position: relative;
    padding: 15px;
    border-top: 100px solid transparent;
    margin-top: -10px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
#Servicios h2{
    color: var(--color-text-rl);
}
#Servicios .card-footer{
    background-color: var(--bg-color-r);
}
#Servicios .card-title{
    font-size:x-large;
}
#Contacto {
    position: relative;
    padding: 15px;
    border-top: 100px solid transparent;
    margin-top: -10px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.card45 {
    width: 100rem;
}
.body h2{
    color: var(--bg-color-d);
}
.iconservicio {
    font-size: 6rem;
    color: var(--color-text-r)
}

.baseBlock {
	margin: 0px 0px 35px 0px;
	padding: 0 0 15px 0px;
	border-radius: 5px;
	overflow: hidden;
	min-height: 390px;
	background: #fff;
	-moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	-o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.baseBlock:hover {
	-webkit-transform: translate(0, -8px);
	-moz-transform: translate(0, -8px);
	-ms-transform: translate(0, -8px);
	-o-transform: translate(0, -8px);
	transform: translate(0, -8px);
	box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 992px) {
    .navbar-collapse {
        /* background-color: var(--bg-color-l); */
        background-color: color-mix(in srgb,var(--bg-color-ls),#0000 10%);
        margin-top: -30px;
    }
    #Inicio {
    height: 15rem;
    }
  }